.formulario-busca{
    margin: 50px
}

.label-busca{
    color: #fff;
    margin: 0 20px;
}

.input-busca{
    color: #000;
    padding: 0 10px;
    background-color: #fff;
}

.estoque{
    margin: 50px;
}

.estoque-lista{
    color: white;
    list-style: none;
    padding: 0;
}

.lista{
    display: flex;
    flex-direction: column;
}

.cabecalho-lista{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 0.5fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    ". . . ."; 
    margin: 20px 0;
    border-bottom: 1px #fff solid;
}

.item-cabecalho{
    color: #F78431;
    text-align: center;
}

.div-lista{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 0.5fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    ". . . ."; 
    margin: 20px 0;
    border-bottom: 1px #fff solid;
}

.item-lista{
    text-align: center;
}

.div-lista:hover {
    color: #F78431;
    border-color: #F78431;
}

.div-botao-estoque{
    display: flex;
    align-items: center;
}

.botao-item{
    width: 70px;
    height: 30px;
    font-weight: 400;
    font-size: 16px;
    margin: 0 3px 3px 0;
}

.link-item-estoque{
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 425px) {
    .cabecalho-lista{
        margin: 5px 0;
    }
    
    .div-lista{
        align-items: center;
        margin: 5px 0;
    }

    .estoque{
        margin: 20px;
        font-size: 14px;
    }
    
    .div-botao-estoque{
        flex-direction: column;
    }

    .botao-item{
        width: 60px;
        height: 25px;
        font-size: 14px;
    }
}