.alerta-desenvolvimento{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho-alerta{
    width: 100%;
}

.texto-alerta{
    color: #fff;
    text-align: center;
    font-size: 37px;
    width: 35%;
}

.imagem-alerta{
    width: 50%;
}

@media screen and (max-width: 768px) {
    .alerta-desenvolvimento{
        flex-direction: column;
    }

    .texto-alerta{
        margin-top: 20px;
        font-size: 35px;
        width: auto;
    }

    .imagem-alerta{
        width: 80%;
    }
}